# --------------------------------------------
# Python
# --------------------------------------------

# Byte-compiled / optimized / DLL files
__pycache__/
**/partidas
*.py[cod]
*$py.class
*puntajes.dat

*.idea
*.DS_STORE
